[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
certifi = "*"
slack-sdk = "*"
flask = {extras = ["async"], version = "*"}
slackeventsapi = "*"
black = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.9"
