[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
black = "*"
rich = "==11.2.0"
requests = "*"
bleach = "*"
pdfkit = "*"
aiohttp = "==3.8.1"
pre-commit = "*"
slack-bolt = "*"

[dev-packages]

[requires]
python_version = "3.9"
